<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"> -->
    <a class="navbar-brand" href="/">RingBlah</a>
    <!-- </button> -->
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/contact">Contact</a>
        </li>
        <li>
          <a href='/browse'>Browse</a>
        </li>
      </ul>
    </div>
    <!-- navbar collapse -->
  </div>
  <!-- container fluid -->
</nav>




<!-- <div class="row" id = "navbar">
  <div class="col-md-8">
     <p><a href='/'>Ring Market</a></p>
  </div>
     <ul>
      <div class="col-md-1">
       <li><a class = "active" href='/contact'>Contact</a></li>
      </div>
      <div class="col-md-1">
       <li><a href='/browse'>Browse</a></li>
      </div>
     </ul>
</div> -->
